*.log
.ninja_deps
.ninja_log
build.ninja
node_modules

/build
/test/fixtures/config_filter/random-copy
/test/fixtures/config_filter/one/random-copy
/test/fixtures/config_filter/other/random-copy
/test/fixtures/rjs/app.js
/test/fixtures/rjs/application.zip
